* {
    font-family: Roboto;
}
QLineEdit{
    padding: 12px;
    border-radius: 8px;
    background: #FAFAFA;
}
QPushButton {
    padding: 12px;
    border-radius: 8px;
    background: white;
}
QPushButton:clicked {
    background: #F0F0F0;
}
QPushButton:hover {
    background: #FAFAFA;
}